body {
  margin: 0;
}
.circle_point {
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #c4c4c4;
  margin: 3px;
}
.circle {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border-radius: 120px;
  background: #ffffff;
  box-shadow:  39px 39px 79px #cccccc,
               -39px -39px 79px #ffffff;
}
